@import "_vars";
@import "modules/_header";
@import "modules/_homeWWD";
@import "modules/_homeWork";
@import "modules/_homeTeam";
@import "modules/_footer";
@import "modules/_hero";
@import "modules/_portfoliopage";
@import "modules/_fonts";
@import "modules/contactpage";
@import "modules/featuredPage";


.hidden {
    display: none;
}

body {
    margin: auto 0;
}

h1, h2, h3, h4, p, a, label, input{
    font-family:'kohinoor_banglamedium',sans-serif;
}