.mainFooter {
    margin-top: 50px;

    #footCol1 {
        display: flex;
        flex-direction: row;
        margin: auto;

        #socialAndIcon {
            max-width: 130px;
            margin: auto;
            margin-bottom: 25px;

            #footerSocial {
                nav { 
                    margin: auto;
                    text-align: center;
                    
                    ul {
    
                        li {
                            display: inline;
                        }
        
                        img {
                            width: 20%;
                        }
                    }
                }
            }
        }

        #navLinks {
            margin: auto;

            li {
                padding-bottom: 20px;

                a {
                    color: black;
                }
            }
        }
    }

    #footCol2 {
        display: flex;
        justify-content: space-around;

        #contactInfo {
            line-height: 1.5;

            p {
                color: black;
            }
            
            div {
                display: flex;
                margin-bottom: 15px;
            }

            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            #phone, #email {
                p {
                    margin-top: 10px;
                }
            }
        }

        #contactMap {
            img {
                max-width: 150px;
                margin: auto;
                margin-top: 35px;
            }
        }
    }
}

#copyright {
    background-color: $light-blue;
    text-align: center;
    padding: 50px 0 50px 0;
    width: 100%;

    p {
        color: black;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 641px) {
    .mainFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 25px;

        #footCol1 {
            display: flex;
            justify-content: space-evenly;
            margin: 0;

            #socialAndIcon {
                display: flex;
                flex-direction: column-reverse;
                max-width: 125px;
                margin: auto;
                
                #footerSocial {
                    display: flex;
                    flex-direction: row;

                    ul {
                        li {
                            display: inline;
                        }
                    }

                    img {
                        width: 20%;
                    }
                }
            }

            #navLinks {
                margin-top: 25px;
                margin-left: 50px;

                li {
                    padding-bottom: 30px;

                    a:hover {
                        border-bottom: 1px solid $penny-blue;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }

        #footCol2 {
            display: flex;
            justify-content: space-evenly;

            #contactInfo {
                margin-left: 50px;
            }

            #contactMap img {
                margin-top: 20px !important;
            }
        }
    }   
}

@media screen and (min-width: 839px) {
    #footCol1 {
        width: 300px;
        
        #socialAndIcon {
        
            #footerSocial {
                margin: auto;
            }
    
            #footerIcon {
    
                img {
                    margin: auto;
                }
            }
        }
    }

    #footCol2 {
        width: 500px;
    }
}


@media screen and (min-width: 1000px) {
    #footCol1 {
        width: 400px;
    }

    #footCol2 {
        width: 600px;
    }
}