.mainFooter {
    margin-top: 50px;

    #footCol1 {
        display: flex;
        flex-direction: row;
        margin: auto;

        #socialAndIcon {
            max-width: 130px;
            margin: auto;

            #footerSocial {
                nav { 
                    
                    ul {
    
                        li {
                            display: inline;

                            a {
                              margin: auto;
                            }
                        }
        
                        img {
                            width: 20%;
                        }
                    }
                }
            }
        }

        #navLinks {
            margin: auto;

            li {
                padding-bottom: 20px;
            }
        }
    }

    #footCol2 {
        display: flex;
        justify-content: space-around;

        #contactInfo {
            line-height: 1.5;
            
            div {
                display: flex;
                margin-bottom: 15px;
            }

            img {
                width: 40px;
                height: 40px;
            }

            #phone, #email {
                p {
                    margin-top: 10px;
                }
            }
        }

        #contactMap {
            img {
                max-width: 150px;
                margin: auto;
            }
        }
    }
}

#copyright {
    background-color: $light-blue;
    text-align: center;
    padding: 50px 0 50px 0;
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 641px) {
    .mainFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 25px;

        #footCol1 {
            display: flex;
            justify-content: space-around;
            margin: 0;

            #socialAndIcon {
                display: flex;
                flex-direction: column-reverse;
                max-width: 200px;
                
                #footerSocial {
                    display: flex;
                    flex-direction: row;

                    ul {
                        li {
                            display: inline;
                        }
                    }

                    img {
                        width: 20%;
                    }
                }
            }

            #navLinks {
                margin-top: 25px;
                margin-left: 50px;

                li {
                    padding-bottom: 30px;
                }
            }
        }

        #footCol2 {
            display: flex;
            justify-content: space-around;

            #contactInfo {
                margin-left: 50px;
            }

            #contactMap {
                margin-top: 25px;
            }
        }
    }   
}

@media screen and (min-width: 839px) {
    #footCol1 {
        
        #socialAndIcon {
            max-width: 200px;
        
            #footerSocial {
                margin: auto;
            }
    
            #footerIcon {
    
                img {
                    margin: auto;
                }
            }
        }
    }
}