.mainHeader {
    width: 100%;
    
    .headerIcon {
        width: 10%;
        display: inline-block;
        margin: 25px 0 0 25px;
        img {
            width: 100px;
        }
    }

    .burgButton {
        float: right;
        width: 58px;
        height: 50px;
        margin: 10px 20px;
        background: none;
        border: none;
    }

    .burgerMenu {
        z-index: +1;
        width: 100%;
    }

    .wideNav {
        display: none;
    }    
}

/* MEDIA QUERIES */

@media screen and (min-width: 641px) {
    .mainHeader {

        .headerIcon{
            width: 15%;
        }

        .wideNav {
            display: block !important;
            float: right;
            margin-right: 50px;

            #deskNav {
                ul {
                    background-color: $light-blue;
                    padding: 20px;
    
                    li {
                        display: inline;
                        padding: 5px;
    
                        a {
                            text-decoration: none;
                            padding: 10px;
                            color: black;
                        }

                        a:hover {
                            color: white;
                            transition: all 0.5s ease-in-out; 
                        }
    
                        a.selected {
                            background-color: $light-yellow;
                            padding-top: 100px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    
        button {
            display: none;
        }
    }
}

@media screen and (min-width: 715px) {
    .wideNav {
        margin-right: 85px !important;
    }
}