.meetTheTeam {
    background-image: url("../../images/meetTeamBg.jpg");
    background-clip: border-box;
    height: 375px;
    
    div {
        background-color: rgba(0, 0, 0, 0.75);
        margin: auto;

        h2 { 
            padding: 25px 0 25px 0;
            color: white;
        }

        p { 
            margin-bottom: 25px;
            color: white; 
        }

    }

    a {
        background-color: #fcd662;
        padding: 10px;
    }
}