.meetTheTeam {
    background-image: url("../../images/meetTeamBg.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 50px 50px 50px;
    
    div {
        background-color: rgba(0, 0, 0, 0.75);
        margin: auto;
        text-align: center;
        padding: 15px 10px 35px 10px;
        max-width: 341px;

        h2 { 
            padding: 10px 0;
            color: white;
            font-size: 1.5em;
        }

        p { 
            margin-bottom: 25px;
            color: white; 
            padding-top: 15px;
            font-style: italic;
            line-height: 1.5;
            font-size: 14;
        }

    }

    a {
        background-color: #fcd662;
        padding: 10px;
    }
}

/* MEDIA QUERIES */ 

@media screen and (min-width: 641px) {
    .meetTheTeam {
        padding: 100px 150px 50px 150px;
    }
}