.meetTheTeam {
    background-image: url(../../images/meetTeamBg.jpg);
    text-align: center;
    padding-top: 50px;
    
    div {
        background-color: rgba(0, 0, 0, 0.75);
        width: 70%;
        height: 60%;
        margin: auto;

        h2 { 
            padding: 25px 0 25px 0;
            color: white;
        }

        p { 
            margin-bottom: 25px;
            color: white; 
        }

    }

    a {
        background-color: #fcd662;
        padding: 10px;
    }
}