.portPage {
    h3 {
        font-size: 2.25em;
        margin: 50px;
    }

    a {
        margin-bottom: 50px;
        padding: 10px;
    }

    .traaSite {
        background-color: #095b6b;
        height: 200px;
        h3 { color: #a3c156; }
        a { 
            background-color: #a3c156; 
            color: #095b6b; 
            margin: 50px;
        }
    }

    .driverSite {
        background-color: #e6d8b1;
        h3 { color: #eb4c6f; }
        a { 
            background-color: #eb4c6f; 
            color: #e6d8b1; 
            margin: 50px;
        }
    }

    .illSite {
        background-color: #ef6c89;
        h3 { color: #fce0c4; }
        a { 
            background-color: #fce0c4; 
            color: #ef6c89; 
            margin: 50px;
        }
    }
}